<div layout-fill ng-controller="FormListCtrl" class="content-backdrop" ng-cloak cg-busy="{promise:loadingLayer, minDuration:500}">
    <div layout="column" layout-fill>
        <md-toolbar class="content-toolbar">
            <div class="md-toolbar-tools">
                <div>{{'i18n_form_list' | translator:'表单列表'}}</div>
                <md-button class="md-primary" ng-click="add()">
                    <md-icon>add_circle_outline</md-icon>
                    {{'i18n_create' | translator:'创建'}}
                </md-button>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <filter-tools conditions="conditions" results="filters" quick-search="true" execute="list()">
                <select-columns columns="columns"></select-columns>
                <div class="filter-item">
                    <md-button class="md-icon-button md-whiteframe-1dp" ng-click="list()">
                        <md-tooltip md-delay="300">{{'i18n_refresh' | translator:'刷新'}}</md-tooltip>
                        <md-icon>refresh</md-icon>
                    </md-button>
                </div>
            </filter-tools>
            <table dynamic-table columns="columns" execute="list({sql: sql})">
                <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.version}}</td>
                    <td>
                        <span ng-if="item.deployId">{{'i18n_yes' | translator:'是'}}</span>
                        <span ng-if="!item.deployId">{{'i18n_no' | translator:'否'}}</span>
                    </td>
                    <td>
                        <table-menus>
                            <md-menu-item>
                                <md-button ng-click="edit(item)">
                                    <md-icon>edit</md-icon>
                                    {{'i18n_edit' | translator:'编辑'}}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="copy(item)">
                                    <md-icon>file_copy</md-icon>
                                    {{'i18n_copy' | translator:'复制'}}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="delete(item)">
                                    <md-icon>delete</md-icon>
                                    {{'i18n_delete' | translator:'删除'}}
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="!item.deployId">
                                <md-button ng-click="publish(item)">
                                    <md-icon>publish</md-icon>
                                    {{'i18n_publish' | translator:'发布'}}
                                </md-button>
                            </md-menu-item>
                        </table-menus>
                    </td>
                </tr>
                </tbody>
            </table>
            <table-pagination pagination="pagination"></table-pagination>
        </md-content>
    </div>
</div>


